*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height:2;
  background:white;
}

a{
  text-decoration: none;
  color:#333;
}

ul{
  list-style: none;
}

img{
  max-width:100%;
}

/* nav bar */

.navbar{
  background:white;
  padding:20px;
  font-size:17px;
}

.navbar .container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar .main-menu ul{
  display:flex;
}

.navbar ul li a{
  padding:10px 20px;
  display:block;
  font-weight:600;
  transition:0.4s;
}

.navbar ul li a:hover{
  color:teal;
}

.profilepic{
  width:120px;
  border-radius:60px;
}

.hero .container{
  display:flex;
  align-items: center;
  justify-content:center;
  font-size:17px;
}

.hero .container > * {
  margin: 10px;
}

section{
  margin-bottom:40px;
}

.applications{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  row-gap:10px;
  margin-top:30px;
}

.applogo{
  display:block;
  height:100%;
  width:100%;
}

.imgwrapper{
  position:relative;
  overflow:hidden;
}

.caption{
  position:absolute;
  inset:0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-weight:bold;
  color:teal;
  background-color:white;
}

.imgwrapper > .applogo{
  transition: 0.3s ease-in-out;
}

.imgwrapper > .caption{
  transition: 0.3s ease-in-out;
}

.imgwrapper > .caption.fade{
  opacity:0;
}

.imgwrapper:hover > .caption.fade{
  opacity:1;
}

.project h1 a{
  text-decoration:underline;
  color:teal;
  cursor:pointer;
  transition:0.5s;
}

.project h1 a:hover{
  color:rgb(0, 175, 175);
}

.project ul{
  margin:8px 0px;
}

.project ul li{
  display:inline-block;
  margin:5px;
  padding:8px;
  font-size:12px;
  background-color:lightgrey;
  border-radius:17px;
  text-align:center;
}

.project .container-sm{
  background-color: white;
  border-style:outset;
  border-color:#d8d8d8;
  border-radius:10px;
  border-width:6px;
  margin:50px auto;
}

.project .container-sm .space{
  padding:20px;
}

.listoflinks a{
  display:inline-block;
  transition:0.5s;
  color:teal;
  font-weight:600;
  text-decoration: underline;
}

.listoflinks p{
  display:inline-block;
  color:black;
  font-weight:600;
}

.listoflinks a:hover{
  color:rgb(0, 175, 175);
}

.education .nyu img{
  width:70px;
  display:inline-block;
}

.education .bxsci img{
  width:70px;
  display:inline-block;
  border-radius:35px;
  border-style: solid;
  border-width:1px;
}

.schools{
  margin-top:20px;
}

.education h2{
  display:inline-block;
}

.education .title{
  display:flex;
  align-items: center;
  margin-bottom:15px;
}

.education h2{
  font-size:17px;
  font-weight:600;
  margin-left:15px;
}

.education p{
  font-style:italic;
}

.education .nyu,
.education .bxsci{
  margin:35px auto;
}

/* Utilities */

.container{
  max-width:1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm{
  max-width:800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-xl{
  max-width:800px;
  margin: 50px auto;
  padding: 40px 40px;
  background-color: white;
  border-style:outset;
  border-color:#d8d8d8;
  border-radius:10px;
  border-width:6px;
}

.btn{
  display:inline-block;
  padding:13px 20px;
  background:lightgrey;
  color:#333;
  font-weight:600;
  text-decoration:none;
  border:none;
  border-radius: none;
  cursor:pointer;
  transition:0.5s;
}

.btn:hover{
  opacity:0.8;
}

.btn-primary{
  background:teal;
  color:white;
}

.btn-dark{
  background:black;
  color:white
}

.btn-block{
  display:block;
  width:100%;
}